/* body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  background: #1a2b45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.doors {
  display: flex;
}

.door {
  background: #fafafa;
  width: 100px;
  height: 150px;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px;
}

.boxes {
  transition: transform 0.5s ease-in-out;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.buttons {
  margin: 1rem 0 2rem 0;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.info {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
} */
.door {
  background: #fafafa;
  width: 112px; /* w-28 in Tailwind */
  height: 120px;
  overflow: hidden;
  border-radius: 0.5rem;
  margin: 5px;
}

.boxes {
  transition: transform 0.5s ease-in-out;
}

.box {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

/* Remove any fixed heights from other elements to allow proper centering */
